body{
    background-color: rgb(27, 27, 27);  
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin: 0px;
}

.name{
    font-size: 5em;
    font-family: 'Cabin Condensed', sans-serif;
}
.occupation{
    font-size: 2.5em;
    font-family: 'Old Standard TT', serif;
}
.link{
    font-size: 1.5em;
    font-family: 'Old Standard TT', serif;
    text-transform: lowercase;
}
a{
    text-decoration: none;
    color:rgb(228, 228, 228);
}
a:hover{
    color: rgb(114, 114, 114);
    
}
#header_container{
    height: 40px;
    background-image: url(../img/dark-triangles.png);
}

#name_container, #occupation_container, #link_container{
    text-align: center;
    width: 65%;
    margin: 0px auto 0px auto;
    
}

#name_container{
    position: relative;
    animation-name: left_animation;
    animation-duration: 4s;
}

#occupation_container{
    margin-top: -50px;
    position: relative;
    animation-name: right_animation;
    animation-duration: 4s;

}
#link_container{
    margin-bottom: 100px;
    position: relative;
    animation-name: left_right_animation;
    animation-duration: 6s;
}
#separate_container{
    background-image: url(../img/dark-triangles.png);
    height: 250px;
}
#img_container{
    position: relative;
    width: 60%;
    text-align: center;
    margin:auto;
    margin-top: -200px;
    animation-name: bottom_to_top_animation;
    animation-duration: 4s;

}
img{
    border-radius:20px;
}

.italicText{
    font-style: italic;
}

/*========
ANIMATION
==========*/
@keyframes left_animation{
    0% {left: -600px; top:0px;}
    50% {left: 50px; top:0px;}
    100% {left:  0px; top:0px;}
}
@keyframes right_animation{
    0% {left: 1200px; top:0px;}
    50% {left: -50px; top:0px;}
    100% {left:  0px; top:0px;}
}
@keyframes left_right_animation{
    0% {left: 1200px; top:0px;}
    50%{left:-100px; top: 0px;}
    100% {left:  0px; top:0px;}
}

@keyframes bottom_to_top_animation {
    0%{left:0px; top: 1500px; }
    50%{left:0px; top: -100px; }
    100%{left:0px; top: 0px; }
}

/*
========================
FOOTER
========================
*/
footer{
    font-size: 0.7em;
    text-align:center;
    padding: 20px;
    color: rgb(114, 114, 114);
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #name_container, #occupation_container, #link_container,#separate_container, #img_container, #header_container{
        text-align: center;
        width: 100%;
        margin: 0px auto 0px auto;
    }
    #img_container{
        margin-top: -180px;
    }
    .occupation{
        font-size: 2em;
    }
    .name{
        font-size: 4em;
    }
}

@media only screen and (min-width: 768px) {
    #name_container, #occupation_container, #link_container,#separate_container, #img_container, #header_container{
        text-align: center;
        width: 60%;
       margin-left: auto;
       margin-right: auto;
    }

}